html, body {
    background-color: #dfc;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height:100%;
}

#connectr-header {
    background-color: #7f3;
    color:#fff;
    font-size: 30pt;
    height: 50px;
}

#connectr-logo {
    background: url('assets/logo.png') no-repeat;
    background-position: center;
    height: 48px;
    margin-left: -20px;
    width: 160px;
}

#connectr-profile {
    display: inline-block;
    background: url('assets/user1.png') center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: 190px;
    top: 6px;
    width: 36px;
    height: 36px;
}

#connectr-feed {
    display: inline-block;
    background: url('assets/feed.png') center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: 236px;
    top: 8px;
    width: 32px;
    height: 32px;
}

#connectr-profile.alert::after {
    background: url('assets/alert.png');
    background-size: contain;
    position: absolute;
    left: 24px;
    content: '';
    width: 16px;
    height: 16px;
}

#connectr-feed.alert::after {
    background: url('assets/alert.png');
    background-size: contain;
    position: absolute;
    left: 24px;
    top: -2px;
    content: '';
    width: 16px;
    height: 16px;
}

#container, #connectr-header-container {
    width: 500px;
    margin: auto;
}

#container {
    background-color: #fff;
    padding: 15px 20px;
}

#profile-name {
    font-size: 24pt;
    text-align: center;
}

#profile-pic {
    border: 1px solid #7f3;
    background: url('assets/profile.jpg');
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

#profile-feed-header, #news-header {
    font-size: 16pt;
    border-b ottom: 1px solid #7f3;
    margin-bo ttom: 20px;
    padding-bottom: 10px;
}

#profile-shares-container .news-item-wrapper.response-like::before {
    content: "Dir gefällt:";
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
}

#profile-shares-container .news-item-wrapper.response-dislike::before {
    content: "Dir gefällt nicht:";
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
}

.profile-news-button {
    border: 1px solid #cea;
    border-radius: 5px;
    cursor: pointer;
    display: center;
    width: 130px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}

#profile-interests {
    font-size: 12pt;
}

.news-item-wrapper {
    border-top: 1px solid #7f3;
    padding: 15px 0;
}

.news-item {
    border: 1px solid #7f3;
    border-radius: 5px;
    box-shadow: 0 0 10px #cfa;
    padding: 12px 15px;
}

.news-headline {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
}

.news-response {
    margin-top: 10px;
    text-align: center;
}
.news-response div {
    border: 1px solid #cea;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 130px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}