html, body {
    background-color: #dfc;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height:100%;
}

canvas {
    background-color: #dfc;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    width:80%;
}

#connectr-header {
    background-color: #7f3;
    color:#fff;
    font-size: 30pt;
    height: 50px;
}

#connectr-logo {
    background: url('assets/logo.png') no-repeat;
    background-position: center;
    height: 48px;
    margin-left: -20px;
    width: 160px;
}

#connectr-profile {
    display: inline-block;
    background: url('assets/user1.png') center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: 236px;
    top: 6px;
    width: 36px;
    height: 36px;
}

#connectr-feed {
    display: inline-block;
    background: url('assets/feed.png') center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: 190px;
    top: 9px;
    width: 32px;
    height: 32px;
}

#connectr-profile.alert::after {
    background: url('assets/alert.png');
    background-size: contain;
    position: absolute;
    left: 24px;
    content: '';
    width: 16px;
    height: 16px;
}

#connectr-feed.alert::after {
    background: url('assets/alert.png');
    background-size: contain;
    position: absolute;
    left: 24px;
    top: -2px;
    content: '';
    width: 16px;
    height: 16px;
}

#container, #connectr-header-container {
    border-radius: 0 0 10px 10px;
    width: 500px;
    margin: auto;
}

#container {
    background-color: #fff;
    padding: 15px 20px;
}

#register-header {
    font-size: 24pt;
    font-weight: bold;
    line-height: 2;
    text-align: center;
}

#register-tagline {
    font-size: 16pt;
    text-align: center;
    width: 400px;
    margin: auto;
}

#register-form {
    text-align: center;
    width: 300px;
    margin: auto;
}

#register-form div {
    margin:10px 0 ;
}

#register-form label {
    line-height: 2;
}

select {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 8px;
    margin-right: 10px;
}

#register-form input[type=date] {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 8px;
    width: 55%;
    margin-right: 0px;
}

#register-form input[type=text], #register-form input[type=file] {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 8px;
    width: 282px;
}

#register-form input[type=file] {
    width:180px;
}

#register-form input[type=submit] {
    margin: 10px 0;
}

#start-button {
    margin: 10px 0;
    text-align: center;
    width: 100px;
    margin: auto;
}

#register-disclaimer {
    font-size: 8pt;
    color: darkgray;
    margin: 0px 0px;
}

#register-form-header {
    font-size: 18pt;
    line-height: 1.5em;
    text-align: center;
}

#profile-name {
    font-size: 24pt;
    text-align: center;
}

#profile-pic, #register-form-defaultpic {
    border: 1px solid #7f3;
    background: url('assets/crabman.jpg');
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

#register-form-defaultpic {
    background-image: url('assets/profile.jpg');
    width: 150px;
    height:150px;
    margin: 20px auto!important;
}

#profile-feed-header, #news-header {
    font-size: 16pt;
    padding-bottom: 10px;
}

#profile-shares-container.empty::after {
    border-top: 1px solid #7f3;
    padding-top: 15px;
    content:'Du hast noch nichts geteilt.';
    color:#bca;
    display: block;
    text-align: center;
    width:100%;
}

#profile-shares-container .news-item-wrapper.response-like::before {
    content: "Dir gefällt:";
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
}

#profile-shares-container .news-item-wrapper.response-dislike::before {
    content: "Dir gefällt nicht:";
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
}

.profile-news-button {
    border: 1px solid #cea;
    border-radius: 5px;
    cursor: pointer;
    display: center;
    width: 130px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}

#profile-interests {
    font-size: 12pt;
}

#news-container.empty::after {
    border-top: 1px solid #7f3;
    padding-top: 15px;
    content:'Wir haben derzeit keine neuen Inhalte für dich.';
    color:#bca;
    display: block;
    text-align: center;
    width:100%;
}

.news-item-wrapper {
    border-top: 1px solid #7f3;
    padding: 15px 0;
}

.news-item::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.news-item {
    border: 1px solid #7f3;
    border-radius: 5px;
    box-shadow: 0 0 10px #cfa;
    padding: 12px 15px;
}

.news-headline {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
}

.news-pic {
    background-color: #000;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
    width: 100px;
    height:100px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#profile-shares-container .news-pic {
    margin-bottom: 0;
}

.news-item-wrapper[piconly=true] .news-headline, .news-item-wrapper[piconly=true] .news-body {
    display: none;
}

.news-item-wrapper[piconly=true] .news-pic {
    width: 470px;
    height: 470px;
    display: block;
}

.news-response {
    margin-top: 10px;
    text-align: center;
    clear: both;
}
.news-response div {
    border: 1px solid #cea;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 130px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}